@keyframes upAndDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes downAndUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

.animate-cat #catRight,
.animate-cat #ballGRight {
  animation-name: upAndDown;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-play-state: inherit;
}

.animate-cat #catLeft,
.animate-cat #ballGLeft {
  animation-name: downAndUp;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-play-state: inherit;
}

.pause #catLeft,
.pause #ballGLeft,
.pause #catRight,
.pause #ballGRight {
  animation-play-state: paused;
}

.play #catLeft,
.play #ballGLeft,
.play #catRight,
.play #ballGRight {
  animation-play-state: running;
}