@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white-background-color
    semiDark:bg-black-background-color
    dark:bg-black-background-color
    m-0 transition-colors;
  }
}

@layer components {
  .app-bar-button {
    @apply bg-white-background-color dark:bg-black-background-color semiDark:bg-black-background-color
    dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:active:bg-gray-400
    semiDark:hover:bg-gray-600 semiDark:focus:bg-gray-600 semiDark:active:bg-gray-400
    text-gray-text-color hover:text-black-text-color focus:text-black-text-color
    semiDark:text-white-text-color semiDark:hover:text-white-text-color semiDark:focus:text-white-text-color
    dark:text-white-text-color dark:hover:text-white-text-color dark:focus:text-white-text-color
    rounded-md min-h-[44px] min-w-[44px] flex duration-300
    hover:shadow-md active:shadow-inner transition-all;
  }

  .semiDarkAndDark-text-white-text-color {
    @apply dark:text-white-text-color semiDark:text-white-text-color
  }

  .menu-item-button {
    @apply flex gap-2 p-2 rounded-lg w-full text-gray-text-color dark:text-white-text-color 
    semiDark:text-white-text-color;
  }
}

body {
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-note-body:empty:before {
  content: attr(data-placeholder);
  opacity: .5;
}