@tailwind base;
@tailwind components;
@tailwind utilities;
@import './transitions.css';
@import './animations.css';

@layer base {
  body {
    @apply bg-white-background-color
    semi-and-dark:bg-black-background-color
    m-0 xl:text-xl 2xl:text-2xl;
  }

  #root {
    @apply flex flex-col min-h-screen;
  }
}

@layer components {
  .app-bar-button-simplified {
    @apply bg-white-background-color semi-and-dark:bg-black-background-color
    semi-and-dark:hocus:bg-gray-600 semi-and-dark:active:bg-gray-400
    text-gray-text-color hocus:text-black-text-color
    semi-and-dark:text-white-text-color semi-and-dark:hocus:text-white-text-color
    rounded-md min-h-[44px] min-w-[44px] flex duration-300
    hover:shadow-md active:shadow-inner transition-all justify-center items-center p-2 2xl:p-4 text-xl 2xl:text-4xl;
  }

  .menu-item-button {
    @apply flex gap-2 p-2 rounded-lg w-full text-gray-text-color semi-and-dark:text-white-text-color items-center text-xl 2xl:text-2xl transition-opacity;
  }

  .center-blue-container {
    @apply flex flex-col gap-4 bg-sky-200 semi-dark:bg-blue-note-color dark:bg-gray-700
    m-auto rounded-lg w-[90vw] max-w-3xl shadow-md;
  }
}

/* toastify colors override */
:root {
  --toastify-color-light: #f5f5f5;
  --toastify-color-dark: #1f2937;
  --toastify-color-info: #38bdf8;
  --toastify-color-success: #84cc16;
  --toastify-color-warning: #facc15;
  --toastify-color-error: #dc2626;

  --toastify-text-color-light: #505050;
  --toastify-text-color-dark: #f5f5f5;

  --toastify-text-color-info: #f5f5f5;
  --toastify-text-color-success: #f5f5f5;
  --toastify-text-color-warning: #f5f5f5;
  --toastify-text-color-error: #f5f5f5;
}

body {
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-note-body:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}

@media screen and (max-width: 641px) {
  .Toastify__toast-container {
    width: fit-content;
    max-width: 70vw;
  }

  .Toastify__toast {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .Toastify__toast-container--bottom-left {
    bottom: 0;
    left: .5rem;
    padding-bottom: 0;
  }
}
