@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white-background-color
    semi-and-dark:bg-black-background-color
    m-0;
  }
}

@layer components {
  .app-bar-button-simplified {
    @apply bg-white-background-color semi-and-dark:bg-black-background-color
    semi-and-dark:hocus:bg-gray-600 semi-and-dark:active:bg-gray-400
    text-gray-text-color hocus:text-black-text-color
    semi-and-dark:text-white-text-color semi-and-dark:hocus:text-white-text-color
    rounded-md min-h-[44px] min-w-[44px] flex duration-300
    hover:shadow-md active:shadow-inner transition-all justify-center items-center;
  }

  .menu-item-button {
    @apply flex gap-2 p-2 rounded-lg w-full text-gray-text-color semi-and-dark:text-white-text-color;
  }
}

body {
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-note-body:empty:before {
  content: attr(data-placeholder);
  opacity: .5;
}

/* for CSSTransition */

.fade-in-slide-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-in-slide-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-slide-exit-active {
  opacity: 0;
  transform: translateY(10px);
}