@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #252525;
  margin: 0;
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
